<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--使用spring来创建对象，在spring中这些都成为bean-->

    <bean id="user2" class="com.jiwei.pojo.User2">
        <constructor-arg name="name" value="JiWei2"/>
    </bean>

    <bean id="user" class="com.jiwei.pojo.User">
        <property name="name" value="JiWei"/>
        <property name="user2" ref="user2"/>
    </bean>


</beans>
